@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url("app-banco-css/banco-login-style.css");

:root{
    --font-logotype:'Gugi', cursive;;

    --primary-color:#00966c;
    --secundary-color:#d9efe9;

    --button-color-001:#32A887;
    --button-color-hover-001:#006347;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
}

body{
    display: grid;
    place-content: center;
    font-size: 1.6rem;
    background-color: black;
}

input::-webkit-inner-spin-button{
    display: none;
}

.centraliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cel-tela{
    margin-top: 0.5rem;
    height: 55rem;
    width: 34rem;
    border: 0.2rem solid;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cel-hub,.app-banco{
    height: 100%;
    width: 100%;
}

