@charset "UTF-8";
:root{
    --color-primary:#bf0404ff;
    --color-spotify:#1db954;
    --color-text1:white;
    --color-text2:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border-collapse: collapse;
    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*Configurações Gerais de elementos genericos*/
body{
    font-size: 1.6rem;
    background-color: black;
    color: white;
}

a{
    color: inherit;
    text-decoration: none;
}

h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

.menu-hamburguer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 4.5rem;
    height: 4.5rem;
    gap: 0.7rem;
    cursor: pointer;
}
.menu-hamburguer div{
    background-color: white;
    width:20px;
    height: 1px;
}

/*Header*/

.menu-container{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.499);
    border: 0.1rem solid lightgray;
    border-top: none;
    box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.374);
}
.menu-container h1{
    width: 100%;
    text-align: center;
}
.menu-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.734);
}
.menu-content ul{
    height: 100vh;
    width: 24rem;
}
.menu-content li{
    border: 0.1rem solid var(--color-primary);
}
.menu-content li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}
#listaNav{
    display: none;
}

/*Sessões*/
section.bg-beck{
    color: white;
    background: black url('../img/bg-beck-blur.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    
}
section.bg-white{
    color: black;
    background-color:white;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
    padding-top: 2rem;
}
#inicio h1{
    margin-top: 4rem;
}
.max-width{
    max-width: 90rem;
}
.intro-beck{
    background-color: rgba(0, 0, 0, 0.57);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1.5rem;
}

#redes-sociais{
    display: flex;
    gap: 2rem;
}
#redes-sociais img{
    width: 4rem;
}

/*Sessão de produtos*/
.sell-products{
    padding-bottom: 10rem;
    justify-content: flex-start; 
}

.div-itens-shop{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-top: 2rem;
}
.title-sell-products,.div-itens-shop {
    margin-top: 2rem;
    text-align: center;
}
div.div-itens-shop h3{
    font-variant: small-caps;
}
.box-scroll-x{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 95%;
    height: 36rem;
    overflow: hidden;
    overflow-x: auto ;
    border: 0.1rem solid rgba(0, 0, 0, 0.21);
    border-radius: 0.5rem;
}
.box-scroll-x::-webkit-scrollbar{
    height: 2rem;
}
.box-scroll-x::-webkit-slider-thumb{
    background: transparent;
}
.box-scroll-x::-webkit-scrollbar-thumb{
    background:var(--color-primary);    
    border-radius: 2rem;
    border: 3px solid rgb(161, 5, 5);
    
}
.box-scroll-x ul{
    padding: 0.5rem;
}
.box-scroll-x li{
    display: inline-block;
    height: 100%;
    background-color: white;
    border: 0.1rem solid var(--color-primary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.615);
}
.box-scroll-x img{
    width: 25rem;
    border: 0.1rem solid var(--color-primary);
}
.name-shirt{
    font-size: 2rem;
}
.price-shirt{
    font-size: 2.5rem;
    font-weight: bold;
    color:var(--color-primary);
}

/*Sessão de Lançamentos*/
.lancamentos-yt{
    background:linear-gradient(to bottom,var(--color-primary),rgb(79, 3, 3),black);
    justify-content: flex-start;
    text-align: center;
    padding-top: 8rem;
}
.lancamentos-yt h2{
    margin: 0 0.5rem;
}
.video-responsivo{
    width: 90%;
    max-width: 800px;
}
.video-responsivo iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
.spotify{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#181818;
    width: 29rem;
    height: 10rem;
    border: 0.1rem solid var(--color-spotify);
    border-radius: 1rem;
}
.photo-spotify{
    margin-left: 1rem;
    width: 7.5rem;
    height: 7.5rem;
    background: url("../img/ft-perfil-spotify.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.letter-sy{
    display: flex;
    color: #1db954;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    border-left: 0.1rem solid var(--color-spotify);
    height: 100%;
    width: 2rem;
    margin-right: 3rem;
}
.two-colum{
    margin-right: 5rem;
}
.two-colum h3{
    padding-bottom: 1rem;
}
.two-colum img{
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 3.2rem;
    height: 3.2rem;
}
.link-spotify a{
    display: block;
    font-weight: bold;
    width: 100%;
    background: var(--color-spotify);
    padding: 1rem;
    border-radius: 1rem;
}
.link-spotify a:hover{
    background: #0a7b32;
    border: 0.1rem solid white;
    padding: 0.9rem;
    box-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.438);
    
}
.link-spotify a::after{
    content:'';
    background: white;
    float: left;
    margin-top: 0.2rem;
    width: 1%;
    height: 0.2rem;
    animation: link-spotify 6s ease-in-out infinite;
}

@keyframes link-spotify{
    25%{
        width: 100%;
    }
    50%{
        float: right;
        width: 1%;
    }
    75%{
        width: 100%;
    }
}

/*Rodapé*/
footer{
    width: 100%;
    padding: 0.5rem 0.5rem;
}
footer h3{
    font-size: 2rem;
}
footer > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
}
footer button{
    font-weight: bold;
    color: white;
    background-color: var(--color-primary);
    height: 4rem;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
}
footer button:hover{
    background: rgb(131, 0, 0);
    box-shadow: 0px 0px 3px black inset;
}
footer button:active{
    background: rgb(91, 0, 0);
    border: 0.1rem solid white;
}


/*Midia query*/

@media (min-width:660px) {
    .menu-hamburguer{
        display: none;
    }
    .menu-container{
        padding: 0.5rem;
    }
    .menu-content{
        position: relative;
        background: none;
    }
    .menu-container h1{
        width: initial;
    }
    .menu-content ul{
        height: initial;
        width: initial;
        display: inline;
        background: none;
    
    }
    .menu-content li{
        display: inline-block;
        border-radius: 1rem;
        border: none;
        margin: 0rem 0.5rem;
    }
    .menu-content li a{
        display: block;
        position: relative;
        padding: 0.5rem;
        border-radius: 1rem;
        padding: 0.6rem;
    }
    .menu-content li a::after{
        content: '';
        position: absolute;
        bottom: 0rem;
        left: 50%;
        width: 0;
        height: 0.2rem;
        background: var(--color-primary);
        transition: all 300ms ease-in-out;
    }
    .menu-content li a:hover::after{
        width: 80%;
        left: 10%;
    }
    #listaNav{
        display: block;
    }
    #redes-sociais img{
        filter: grayscale(1);
    }
    #redes-sociais img:hover{
        filter: grayscale(0);
        transform: scale(1.1);
    }
    .lancamentos-yt{
        gap: 4rem;
    }
    footer{
        padding-top: 5rem;
    }
}