@charset "UTF-8";



:root{
    --bg-dark-color1:#000000;
    --bg-dark-dgd-1: ;
    --bg-dark-hover: #101010;
}

.content{
    display: flex;
    gap: 2rem;
}


.body-tela-series{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    overflow: hidden;
}

.body-tela-series li:hover{
    color: white;
    cursor: pointer;
}

.container-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(193, 193, 193);
    width: 100%;
    height: 100vh;
    background:var(--bg-dark-color1);
    padding: 1rem;
    overflow-y: auto;

}

.container-content{
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg,#000006,#00002b,#00004a);
}

.menu-header{
    flex-direction: column; 
    padding-bottom: 2rem;
}

.menu-header ul{
    justify-content: space-evenly;
    gap: 0;
}

.menu-header li{
    text-align: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.menu-header li:hover{
    background-color: var(--bg-dark-hover);
}
.menu-header li:first-child::before{
    display: block;
    content: '';
    margin: auto;
    background:url("../img/icons-main/nav-menu/icon-social-azul.png") no-repeat;
    width: 2.4rem;
    height: 2.4rem;
}

.menu-header li:last-child::before{
    display: block;
    content: '';
    margin: auto;
    background: url("../img/icons-main/nav-menu/icon-mensagem-azul.png") no-repeat;
    width: 2.4rem;
    height: 2.4rem;
}

.icon-acess-profile{
    display: flex;
    align-items: end;
    gap: 0.5rem;
}
.icon-acess-profile::before{
    content:'';
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    background: url("../img/photo-perfil/001-darwin-avatar.jpg") center center;
    background-size: contain;
    border-radius: 50%;

}

#pesquisaGlobal{
    color: white;
    background: none;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 0.1rem solid blue;
    width: 100%;
    padding: 0rem 1rem;
}

#pesquisaGlobal::placeholder{
    text-align: center;
}

#pesquisaGlobal:focus{
    outline: none;
    text-align: left;
    background: #101010;
}

#pesquisaGlobal:hover{
    background-color: var(--bg-dark-hover);
}

.menu-body{
    font-size: 2rem;
    padding-bottom: 10rem;
}

.menu-body li{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 2rem;
}

.menu-body li:hover{
    background-color: var(--bg-dark-hover);
}

.menu-body li::before{
    content: '';
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
}

.menu-body li:nth-child(1)::before{
    background: url("../img/icons-main/nav-menu/icon-filme-vermelho.png");
}

.menu-body li:nth-child(2)::before{
    background: url("../img/icons-main/nav-menu/icon-series-vermelho.png");
}

.menu-body li:nth-child(3)::before{  
    background: url("../img/icons-main/nav-menu/icon-musica-vermelho.png");
}

.menu-body li:nth-child(4)::before{
    background: url("../img/icons-main/nav-menu/icon-livro-vermelho.png");
}


.section-intro-all{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}


.banners-principal{
    overflow: hidden;
    max-height: calc(100vh/2);
}

#banner-cont01{
    display: inline-block;
    background: url("../img/banners-films/banner-dc.jpg") center center no-repeat;
    background-size: cover;
    height: calc(100vh/2);
    width: 100%;
}

#banner-cont02{
    display: inline-block;
    background: url("../img/banners-films/banner-dc.jpg") center center no-repeat;
    background-size: cover;
    height: calc(100vh/2);
    width: 100%;
}


