@charset "UTF-8";
@import url(anime.css);
@import url(style-main.css);


:root{
    --color-primary: #FF8100;
    --dgd-color1-transparent:linear-gradient(45deg,#c4bef3 , #ff77e8 , #00d4ff );
    --dgd-color1-transparent-hover:linear-gradient(45deg,#8f8ab3 , #ba57a9 , #00a0c1)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    user-select: none;
    user-zoom: none;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #080808;
    font-size: 1.6rem;
}

.bg-white{
    background: white;
}

input{
    font-size: 1.6rem;
    height: 4rem;
    width: 20rem;
    text-align: center;
    padding: 0 0.2rem;
    border-radius: 1rem;
    background-color: rgb(239, 239, 239);
}
input:focus{
    background: rgb(164, 237, 237);
}

.container{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}
.centraliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-grid{
    align-self: center;
}
.window-itens-form{
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 45rem;
    width: 35rem;
    background: rgba(0, 0, 0, 0.745);
    border: 0.2rem solid rgba(144, 144, 144, 0.508);
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.486);
}
.logo-text{
    font-size: 6rem;
    width: 20rem;
    height: 10rem;
}
.form-login{
    gap: 2rem;
}
.form-login input{
    width: 25rem;
    height: 4rem;
    font-size: 2rem;
    padding: 0rem 0.5rem;
}
.form-login button{
    height: 3rem;
    width: 15rem;
    background: linear-gradient(45deg,#c4bef3 , #ff77e9 , #00d4ff) ;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 1rem;
}
.form-login button:hover{
    cursor: pointer;
    background: linear-gradient(45deg,#8f8ab3 , #ba57a9 , #00a0c1)
}
.button-register{
    display: inline-block;
    text-decoration: underline;
    margin: 2rem auto;
    cursor: pointer;
}

#avisoLoginErro{
    position: absolute;
    background: rgba(185, 38, 38, 0.427);
    border: 0.1rem solid rgb(182, 59, 59);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    bottom: 1rem;
}

.body-tela-registro{
    display: flex;
    justify-content: center;
    align-items: start;
}

.window-elements-register-pt1{
    color: black;
    background: white;
    border: 0.2rem solid rgb(0, 0, 0);
    
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.486);
}

.window-elements-register-pt1{
    max-width: 90rem;
    overflow: hidden;
}


.section-register .titles-register{
    padding: 1rem 0rem;
    background:black;
    color: white;
}

.section-register h2{
    text-align: center;
    font-size: 4rem;
    font-variant: small-caps;
}
.section-register .titles-register p{
    color: #bd0202;
}

.preview-perfil{
    position: relative;
    display: flex;
    background-color: white;
}

.preview-perfil #bannerPerfil{
    position: absolute;
    width: 100%;
    height: 75%;
    background:var(--dgd-color1-transparent);
    z-index: 0;
}
.preview-perfil #photoPerfil{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: url("../img/photo-perfil/icon-perfil.svg") center center no-repeat;
    background-size: cover;
    box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.532);
    border: 0.1rem solid grey;
    z-index: 1;
    margin: 1rem;
}
.preview-perfil #namePerfil{
    position:absolute;
    bottom: 1rem;
    left: 15rem;
    color: black;
    font-size: 2.4rem;
    font-weight: 600;
}
.section-register .window-register-part1{
    padding: 2rem;
}

.dados-basicos{
    border-top: 0.1rem solid gainsboro;
    border-bottom: 0.1rem solid gainsboro;
    padding: 4rem 1rem;
}

.dados-basicos > div > h3{
    text-align: center;
    color:#00a0c1;
}

#listPerson{
    display: flex;
    justify-content: center;
    background: #d8f9ff;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#listPerson img{
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    cursor: pointer;
}
#listPerson img:hover{
   border: 0.2rem solid red;
   
}

.config-container-input{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.input-dados-pessoais{
    padding: 3rem 0.2rem;
    border-bottom: 0.1rem solid gainsboro;
}



.plano-assinatura h3{
    text-align: center;
    margin: 2rem;
    color: red;
    text-decoration: underline;
}
.plano-assinatura input[type=radio]{
    display: none;
}
.plano-assinatura th label{
    display: grid;
    place-items: center;
    background-color: #00a0c1;
    width: 20rem;
    height: 5rem;
    cursor: pointer;
}
.plano-assinatura input[type=radio]:checked + label{
    color: red;
    background: #00d4ff;
    border: 0.3rem solid rgb(255, 255, 255);
    outline: 0.1rem solid red;
}

.plano-assinatura th{
    padding: 0.2rem;
}

.plano-assinatura table td{
    padding: 1rem;
    text-align: center;
}
.plano-assinatura table tr:nth-child(2n){
    background-color: rgb(254, 215, 215);
}

.button-register-part1{
    display: grid;
    place-items: end;
}
.button-register-part1 p{
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem black;
    color: white;
    background: var(--dgd-color1-transparent);
    margin: 2rem 0.4rem;
    width: 20rem;
    height: 5rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-register-part1 p:hover{
    background: var(--dgd-color1-transparent-hover);
}

.window-elements-register-pt2{
    
}


.section-card{
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    border-bottom: 0.5rem solid rgb(255, 255, 255);
}

.card-pay{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    place-items: end center;
    margin-top: 2rem;
    gap: 0.2rem;
}

.icon-card-pay{
    display: grid;
    color: rgb(191, 191, 191);
    text-shadow: 0rem 0rem 0.2rem black;
    font-size: 2rem;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #ea0303;
    width: 34rem;
    height: 18.8rem;
    border-radius: 1rem;
    ;
}

.card-pay-head{
    display: grid;
    place-items: center;
}

.card-pay-head::before{
    content: 'Mastercard';
    margin-top: 1rem;
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: bold;
    color: white;
}

.card-pay-body{
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}

.card-pay-footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: start center;
}

#dataValidade::before{
    content: "Valid Thru ";
    font-size: 1rem;
    color: white;
    
}
.border-card{
    background-color: red;
    width: 100%;
    height: 6.2rem;
    border-radius: 0 1rem 0 0;
    border: 0.2rem solid white;   
}

.border-card:first-child{
    border-radius: 1rem 0 0 0;
    border-right: none;
}

.border-card:last-child{
    border-left: none;
}

.section-input-card{
    background: white;
    border-top: 0.1rem dashed red;
    padding: 2rem;
    text-align: center;
}

.input-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
}

.input-card input:focus{
    background-color: rgb(246, 221, 221);
}

.section-input-card button{
    color: white;
    font-weight: bold;
    background-color: red;
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
}

.card-back :first-child{
    position: relative;
    top: 1.5rem;
    background-color: black;
    width: 100%;
    height: 5rem;
}
.card-back :last-child{
    display: grid;
    place-items: center end;
    padding: 2rem;
}
.card-back :last-child::before{
    content: 'CVC';
    font-size: 1.2rem;
    padding: 0.1rem;
    background-color: #d8f9ff;
    color: #080808;
}



.window-confirm-register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirm-register-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-verification-code {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dgd-color1-transparent);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}
.icon-verification-code{
    background: url("../img/icons-register/icon-verification-code.png") center center;
    background-size: cover;
    height: 64px;
    width: 64px;
}


.body-verification-code{
    background-color: white;
    padding: 1rem;
    line-height: 3rem;
    color: #bd0202;
}
.confirm-input-code{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding: 3rem;
    color: black;
    border-top: 0.1rem solid gainsboro;
}

.footer-verefication-code{
    display: grid;
    place-items: center;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 1rem;
}

.footer-verefication-code button{
    width: 12rem;
    height: 4rem;
    font-weight: bold;
    color: white;
    border-radius: 0.5rem;
    background:var(--dgd-color1-transparent);
    cursor: pointer;
}

.footer-verefication-code button:hover{
    color: rgb(208, 208, 208);
    background: var(--dgd-color1-transparent-hover);
}

.notificacao-verification-code{
    position: absolute;
    background: #00a0c1;
    width: 300px;
    top: 1rem;
    padding: 0.2rem;
}

.notificacao-li{
    display: flex;
    position: relative;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid gainsboro;
    border-radius: 0.4rem;
    padding: 0.1rem;
    margin: 0.4rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.326);
}
.notificacao-li h2{
    font-size: 1.6rem;
}
.icon-banco-notif{
    width: 4.8rem;
    height: 4.8rem;
}

.icon-card{
    background: url("../img/icons-register/logo-santander-icon.png") center center no-repeat;
    background-size: contain;
}

.icon-email{
    background: url("../img/icons-register/icon-gmail.png") center center no-repeat;
    background-size: contain;
}

.notificacao-button-close{
    position: absolute;
    top: -0.3rem;
    right: 0.4rem;
    font-weight: bold;
    cursor: pointer;
}

.notificacao-button-close::before{
    content: "✖";
    color: gray;
}

.notificacao-body{
    font-size: 1.4rem;
    color: rgb(70, 70, 70);
}

.confirm-register-approved{
    background: white;
    border-radius: 1rem;
}

.confirm-register-approved h2{
    background: green;
    color: white;
    text-align: center;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
    padding: 1rem;
}
.confirm-register-approved p{
    padding: 2rem;
}

span.button{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}


/*animações*/

/*Animação para encolher div e esconder os elementos*/

.hidden-anime{
    animation: hidden-itens 1s ease forwards;
}

.encolher-anime{
    animation: encolher 1s 0.1s ease forwards;
}

.extender-anime{
    animation: extender 3s ease forwards;
}

.aparecer-anime{
    animation: aparecer-itens 7s ease forwards;
}
