@charset "UTF-8";
@import url(anime.css);

:root{
    --color-primary: #FF8100;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 1.6rem;
    overflow: hidden;
}
.fundo-estrelado{
    position: absolute;
    background: url("../img/background-ceu-estrelado.jpg") center center no-repeat;
    background-size: cover;
    height: 101vh;
    width: 101vw;
    z-index: -1;
    animation: moverceu 20s ease forwards ;
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}
.centraliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window-itens-form{
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    height: 45rem;
    width: 35rem;
    background: rgba(0, 0, 0, 0.745);
    border: 0.2rem solid rgba(144, 144, 144, 0.508);
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.486);
}
.logo-text{
    font-size: 6rem;
    width: 20rem;
    height: 10rem;
}
.form-login{
    gap: 2rem;
}
.form-login input{
    width: 25rem;
    height: 4rem;
    font-size: 2rem;
    padding: 0rem 0.5rem;
}
.form-login button{
    height: 3rem;
    width: 15rem;
    background: linear-gradient(45deg,#c4bef3 , #ff77e9 , #00d4ff) ;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 1rem;
}
.form-login button:hover{
    cursor: pointer;
    background: linear-gradient(45deg,#8f8ab3 , #ba57a9 , #00a0c1)
}
.button-register{
    display: inline-block;
    text-decoration: underline;
    margin: 2rem auto;
    cursor: pointer;
}

#avisoLoginErro{
    background: rgba(185, 38, 38, 0.427);
    border: 0.1rem solid rgb(182, 59, 59);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

.window-elements-register{
    display: grid;
    place-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.745);
    border: 0.2rem solid rgba(144, 144, 144, 0.508);
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.486);
}

.window-elements-register{
    max-width: 90rem;
    overflow: hidden;
}


.section-register .titles-register{
    background:linear-gradient(to bottom, black, transparent);
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.section-register h2{
    text-align: center;
    font-size: 4rem;
    font-variant: small-caps;
    margin-bottom: 1rem;
}
.section-register .titles-register p{
    color: rgb(165, 1, 1);
}


/*animações*/

/*Animação para encolher div e esconder os elementos*/

.hidden-anime{
    animation: hidden-itens 1s ease forwards;
}

.encolher-anime{
    animation: encolher 1s 0.1s ease forwards;
}

.extender-anime{
    animation: extender 3s ease forwards;
}

.aparecer-anime{
    animation: aparecer-itens 7s ease forwards;
}
