@charset "UTF-8";

:root{
    --primary-color:#58ADFC;
    --secondary-color:#FC7972;
    --dark-font-color:Black;
    --light-font-color:White;
    --shadow-color:#2C70B0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*Config geral*/

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*HEADER*/

header{
    background: var(--primary-color);
}
header h1{
    color: var(--light-font-color);
    padding-top: 3rem;
}
.header-nav{    
    margin: 3rem 0;
    overflow: hidden;
    border-bottom: 0.1rem solid white;
}
.header-nav li{
    display: inline-block;
}
.header-nav a{
    display: block;
    position: relative;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--light-font-color);
    margin: 0 2rem;
    padding: 1rem;
}
.header-nav a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0.4rem;
    background: var(--secondary-color);
    width: 0;
    height: 0.2rem;
    transition: all 300ms ease-in-out;
}

.header-nav a:hover::after{
    width: 60%;
    left: 16%;
}


